
default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  password:
  socket: /tmp/mysql.sock

development:
  <<: *default
  database:

production:
  <<: *default
  database: national_tax_production
  username: taxdb
  password: <%= ENV['NATIONAL_TAX_DATABASE_PASSWORD'] %>
