/*
 *= require common
 *= require backyard
 */


/*一级菜单鼠标划过状态*/
.menu-first:hover{
    text-decoration: none;
    background-color: #d6d4d5;
    border-top: 1px solid #b7b7b7;
    border-bottom: 1px solid #acacac;
}
/*二级菜单*/
.menu-second li a{
    background-color: #f6f6f6;
    height:31px;
    line-height:31px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    font-size: 12px;
    text-align:center;
    margin-left:20px;
}
/*二级菜单鼠标划过样式*/
.menu-second li a:hover {
    text-decoration: none;
    background-color: #66c3ec;
    border-top: 1px solid #83ceed;
    border-bottom: 1px solid #83ceed;
    border-right: 3px solid #f8881c;
    border-left: 3px solid #66c3ec;
}
/*二级菜单选中状态*/
.menu-secon1d-selected {
    background-color: #66c3ec;
    height:31px;
    line-height:31px;
    border-top: 1px solid #83ceed;
    border-bottom: 1px solid #83ceed;
    border-right: 3px solid #f8881c;
    border-left: 3px solid #66c3ec;
    text-align:center;
}
/*覆盖bootstrap的样式*/
.nav-lis1t,.nav-list li a{
    padding: 0px;
    margin: 0px;
}

.page-header {
  margin: 10px 0px;
}
