<%=search_form_for @q, :url => ancient_articles_path ,:html => {:method => :get, :class => "well form-search"}  do |f| %>
  <span>名称：<%= f.text_field :name_cont %></span>
  <%= render "ancient/shared/search_bottom", :f => f %>
<% end %>
